/* Общее */

/* Домашняя страница и аутефикация */

.send_profile {
    width: 40px;
    height: 40px;
}

.login {
    width: 40px;
    height: 40px;
}

.logout {
    width: 40px;
    height: 40px;
}

.home {
    width: 40px;
    height: 40px;
}

/* Профиль учителя */

.back {
    width: 40px;
    height: 40px;
}

.report {
    width: 40px;
    height: 40px;
}

.avg_chart {
    width: 450px;
    height: 320px;
}

/* Профиль ученика */

.test {
    width: 40px;
    height: 40px;
}

.box {
    border-spacing: 90px 20px
}

