<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
{% block content %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="username">{{ form.username }}</div>
      <div class="password">{{ form.password }}</div>
      <button>Вход</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>


{% endblock %}
</body>